
.newComment{
  color: black;
  float: right;
}

.viewComments{
  float: right;
}

.PanelTitle{
  float: left;
  color: black;
  margin: 10px;
  font-weight: bold;
}

.warningSign{
    float: left;
    margin: 10px;
}

.cite{
  float: right;
  color: #c24a46;
}
