
.jumbotron{
  background-color: #000000;
  padding-top: 0px;
  padding-bottom: 10px;

}

.btn-primary{
  background-color: #59a0e2;
}

#logo{
  height: 250px;
  width: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#loginTitle{

  padding-top: 0;
  color:#59a0e2;
}

h1{
  color:#59a0e2;
}
